[user]
  name = Dave Franco
  email = davefranco1987@gmail.com
  signingkey = ~/.ssh/sign-key.pub

[gpg]
  format = ssh

[commit]
  gpgsign = true

[includeIf "gitdir:~/Code/DaveOps/"]
  path = ~/.dotfiles/.gitconfig-daveops
[includeIf "gitdir:~/Code/Personal/"]
  path = ~/.dotfiles/.gitconfig-personal
[includeIf "gitdir:~/Code/Work/Onomondo"]
  path = ~/.dotfiles/.gitconfig-onomondo
[includeIf "gitdir:~/Code/Work/Quaderno"]
  path = ~/.dotfiles/.gitconfig-quaderno
