[user]
	name = Dave Franco
	email = davefranco1987@gmail.com
  signingkey = ~/.ssh/sign-key.pub

[gpg]
	format = ssh

[commit]
  gpgsign = true

[includeIf "gitdir:~/src/daveops/"]
  path = ~/.dotfiles/.gitconfig-daveops
[includeIf "gitdir:~/src/personal/"]
  path = ~/.dotfiles/.gitconfig-personal
[includeIf "gitdir:~/src/work/"]
  path = ~/.dotfiles/.gitconfig-work
