[user]
	name = Dave Franco
	email = davefranco1987@gmail.com
  signingkey = /home/dave/.ssh/sign-key.pub

[gpg]
	format = ssh

[commit]
  gpgsign = true

#[includeIf "gitdir:~/src/personal/"]
#  path = ~/.gitconfig-personal
#[includeIf "gitdir:~/src/work/"]
#  path = ~/.gitconfig-work
